<div class="ttt-tournament-bracket">
  <div class="ttt-tournament-column" *ngFor="let round of tournament.state.gameIds; let roundIndex = index">
    <div class="ttt-tournament-game mat-elevation-z7" *ngFor="let gameId of round;" (click)="gameClicked(gameId)">
      <div class="player-name">
        <ng-container *ngIf="getGame(gameId).xPlayerName">
          <b *ngIf="getGame(gameId).status === TttGameStatus.X_WON">{{ getGame(gameId) }}</b>
          <span *ngIf="getGame(gameId).status !== TttGameStatus.X_WON">{{ getGame(gameId).xPlayerName }}</span>
        </ng-container>
      </div>
      <div class="player-name">
        <ng-container *ngIf="getGame(gameId).oPlayerName">
          <b *ngIf="getGame(gameId).status === TttGameStatus.O_WON">{{ getGame(gameId) }}</b>
          <span *ngIf="getGame(gameId).status !== TttGameStatus.O_WON">{{ getGame(gameId).oPlayerName }}</span>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="roundIndex === 0">
      <div class="ttt-tournament-game fake mat-elevation-z7" *ngFor="let i of counter(missingFirstRoundGames)">
        <div class="player-name">
          <span>Open</span>
        </div>
        <div class="player-name">
          <span>Open</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>